@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --header-height: 6.8vh;
    --main-bg-primary-color: #2874F0;
    --robot400: 'Roboto', sans-serif;
    --bodycolor: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color:white
}

body {
    font-size: 14px;
    color: var(--bodycolor);
    line-height: 1.4;
    background-color:#F1F3F6;
}

header {
    background-color: #2874F0;
    width: 100vw;
    height: var(--header-height);
}

nav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    width: 20vw;
    height: var(--header-height);
    position: relative;
    bottom:8px;
}

.logo img {
    width: 4.5em;
    height: 1.3em;
    position: relative;
    top: -2px;
    right: 10px;
}
.logo a {
    font-size: 11px;
    text-decoration: none;
    padding-right: 12px;
    font-style: italic;
    position: relative;
    bottom: 2px;    
}
.logo a:hover{
    text-decoration: underline;
}
.search_box {
    display: flex;
    background-color: var(--main-bg-primary-color);
    width: 40vw;
    height: var(--header-height);
}

.search_box input {
    width: 34.6vw;
    height: calc(var(--header-height) - 2vh);
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 0 19px;
    padding: 15px;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    right: 14px;
    bottom: 2px;
    color:#1a1818;
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    
}

.search_box .search_icon{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:-45px;
    bottom: -1.2px;
    filter: invert(34%) sepia(84%) saturate(2800%) hue-rotate(208deg) brightness(98%) contrast(92%);

}

.menu_bar {
    background-color: var(--main-bg-primary-color);
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    position: relative;
    left: -21px;
}

.menu_bar .login_btn {
    text-align: center;
    color: var(--main-bg-primary-color);
    background-color: white;
    width: 120px;
    height: 30px;
    border: 1px;
    font-family: var(--robot400);
    font-weight: 500;
}
.dropdown_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 25px;
    top: -2px;
}
.dropdown_menu .menubtn{
    font-size: 16px;
    border: none;
    outline: none;
    color:white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;    
    line-height: 20px;
    letter-spacing: .1px;
    font-weight: 500;
}
.menu_dropdown_arrow{
    position: relative;
    height: 20px;
    width: 15px;
    bottom: -5px;
}
.menu-dropdown-content{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
   
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.menu-dropdown-content a{
    color:black;
    text-decoration:none;
}
.dropdown_menu:hover .menu-dropdown-content{
    display: block;
}
.dropdown_menu:hover .menubtn img{
    transform: rotate(180deg);
}
.menu-dropdown-content a{
    display: block; 
    
}
.cart{
    display: flex;
    background-color:inherit ;
    border: none;
    outline:none;
    padding: 20px;
    position: relative;
    left: -10px;
}
.cart-img{
    height: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(315deg) brightness(101%) contrast(101%);
}
.cart a{
    color: white;
    text-decoration: none;
    padding-left: 5px;
    font-family: var(--robot400);
    font-weight: 500;
}
/* Endup with the header css */
.category-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 13.8vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    bottom: 5px;
    padding: 0 150px 0 115px;
    background-color: #FFFFFF;
}
.category-container a{
    position: relative;
    top:5px;
    text-decoration: none;
    color:black;
    font-size: 14px;
    font-family: var(--robot400);
    font-weight: 500;
}
.category-container .category-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.category-container .category-item img{
    height: 64px;
    width: 64px;
}
.mobiles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mobiles img{
    height: 58px;
    width: 58px;
}
/* Slider windows Css starts */
.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 320px;
    background-color:#F1F3F6;
}
.slider img{
    width: 99vw;
    height: inherit;
}
/* Card Container css */
.card-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 99vw;
    height: 360px;
    background-color:#F1F3F6;
    position: relative;
    top: -18px;
}
.deal-of-the-day-container{
    background-color: #fff;
    width: 82vw;
    height: inherit;
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;
}
.deal-text, .card-item-title
{
   
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1em solid var(--bodycolor);
    
}
.deal-text p, .card-item-title p{
    color:black;
    font-size:20px;
    font-family: var(--robot400) ;
    font-weight:500;
    line-height: 32px;
    position: relative;
    left: 20px;
    

}
.view-all{
    background-color: var(--main-bg-primary-color);
    text-align: center;
    height: 60%;
    width: 100px;
    position: relative;
    right: 20px;
    border: none;
    outline: none;
}
.deal-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    height: 80%;
    padding: 0 20px;
}
.deal-content .item-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.deal-content img{
    height: 160px;
    width: 110px;
}
.deal-content img:hover{
    height: 170px;
    width: 120px;
}
.text-item-category{
    color:black;
    
    font-family: var(--robot400);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}
.deal-content .item-content .text-item-offer{
    color:green;
    font-family: var(--robot400);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.deal-content .item-content .text-item-tag{
    color:gray;
    font-family: var(--robot400);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}


.card-container .AdCard{
    background-color: yellow;
    width: 15.5vw;
    height: inherit;
    position: relative;
    /* right: 5px; */
    
}
.AdCard img{
    height: inherit;
    width: inherit;
}
.three-Card-template{
    width: 99vw;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.three-Card-template img{
    height: 260px;
    width: 500px;
}

.give-india-container{
    display: flex;
    width: 100vw;
}
.give-india-container img{
    display: flex;
    width: 98vw;
    height: 260px;
    justify-content: space-around;
    position: relative;
    right: -14px;
}
.card-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 99vw;
    flex-direction: column;
}
.card-item-list{
    height: 80%;
    width: 100%;
    background-color: red;
}